{{#if showEditForm}}
  <h1>Edit Question</h1>
  <form>
    <div class="form-group">
      <label for="author">Author</label>
      {{input value=item.author id="author"}}
    </div>

    <div class="form-group">
      <label for="question">Question</label>
      {{input value=item.question id="question"}}
    </div>

    <div class="form-group">
      <label for="body">Additional notes</label>
      {{input value=item.body id="body"}}
    </div>

    <button {{action 'save' item}} class="btn btn-primary">Save</button>
    <button {{action 'hideEditForm'}} class="btn btn-warning">Cancel</button>
  </form>
{{else}}
  <button {{action 'showEditForm'}} class="btn btn-primary">Edit Question</button>
  <button {{action 'deleteQuestion' item}} class="btn btn-danger">Delete Question</button>
{{/if}}
