<h2>{{ model.question.question }}</h2>
<h3>Asked by: {{ model.question.author }}</h3>
<p>
  {{ model.question.body }}
</p>

{{question-edit item=model.question save="saveEdit"}}

{{answer-form question=model.question save="saveAnswer"}}

{{answer-list question=model.question}}
